.wrapper {
	padding:30px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap:20px;
  grid-template-columns: 1fr 1fr;

}
body
{
	width:100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;

}



@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
form
{
	text-align: center;
	height:100px;
	margin-bottom: 300px;



}


input[type="text"]
{
    height:200px;
    text-align: center;
    position:relative;
    left:25px;
}
input[type="submit"]
{
    color:white;
    text-decoration: none;
     position:relative;
     left:-80px;
     bottom:-140px;
     background-color: #ae617f;
     border:none;
     font-size: 25px;

    

}



h1
{
	font-family: 'Pacifico', cursive;
	color:#2f394f;
	font-size: 30px;
	text-align:center;
	line-height: 2px;
}
h3 {
	background-color: gray;
	color:white;
	font-size: 80px;
	text-align: center;

}
footer
{
	font-weight: bold;
	background-color: white;
}
h2
{
	text-align:center;
	font-size:50px;
}
p
{
	text-align:center;
	font-size: 16px;
}
section {
 display: flex;
}

aside {
 flex: 2;
 text-align:right;
}

article {
 flex: 3;
 text-align:left;
}

body, html {
    height: 100%;
    width:100%;
}
hr
{
	width:400px;
	height:3px;
	border:none;
	background-color:#ae617f;
}
img{
	text-align: center;
	width:90%;

}
i
{
	text-align:center;
	width:40px;
	height:30px;
	font-size: .73em;
	color: #2f394f;
}
nav{
        text-align:center;
}
ul
{
	text-align:center;
}
li {
     display: inline-block;
     text-align: center;
     padding: 5px;
}
 .active {

        color:black;
}
a
{
	text-decoration:none;
	color:black;
}
a:active
{
        text-decoration: none;
        color:black;
}
a:hover
{
	color:#ae617f;
}
footer
{

	text-align:center;
	bottom:0;
	position:fixed;
	width: 100%;
}