.wrapper {
	padding:30px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap:20px;
  grid-template-columns: 1fr 1fr;

}
.title
{
	text-align: left;
}
body
{
	width:100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	top:150px;
	position:relative;
	z-index: -1;


}
h6
{
	font-size:60px;
	line-height: 60px;
}

@media screen and (min-width: 200px) {
  .wrapper {
    grid-template-columns: 1fr ;
  }
}
@media screen and (min-width: 400px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
form
{
	text-align: center;
	/*height:100px;
	margin-bottom: 300px;*/



}


input[type="text"]
{
    /*height:200px;
    text-align: center;
    position:relative;
    left:25px;*/
}
input[type="submit"]
{
    /*color:white;
    text-decoration: none;
     position:relative;
     left:-80px;
     bottom:-140px;
     background-color: #ae617f;
     border:none;
     font-size: 25px;*/

    

}
i
{
	color:#2f394f;
}

.columns
{
	text-align: "center";
}
h1
{
	font-family: 'Pacifico', cursive;
	color:#2f394f;
	font-size: 30px;
	text-align:center;
	line-height: 2px;
}
h3 {
	background-color: #2f394f;
	color:white;
	font-size: 30px;
	text-align: center;

}
footer
{
	font-weight: bold;
	background-color: white;
}
h2
{
	text-align:center;
	font-size:30px;
}
p
{
	text-align:center;
	font-size: 16px;
}
section {
 display: flex;
}
header
{
	position:fixed;
	width:100%;
	top:0px;
	z-index: 1;
	background: white;
}
aside {
 flex: 2;
 text-align:right;
}

article {
 flex: 2;
 text-align:left;
}

body, html {
    height: 100%;
    width:100%;
}
hr {
  border:none;
  height: 0px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	//border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}
img{
	text-align: center;
	width:90%;


}
.image1
{
	width:40%;
	height:40%;
	text-align: center;
	
}
{
	text-align:center;
	width:40px;
	height:30px;
	font-size: .73em;
	color: #2f394f;
}
nav{
        text-align:center;
}
ul
{
	text-align:center;
}
li {
     display: inline-block;
     text-align: center;
     padding: 5px;
}
 .active {

        color:black;
}
a
{
	text-decoration:none;
	color:black;
}
a:active
{
        text-decoration: none;
        color:black;
}
a:hover
{
	color:#ae617f;
}
footer
{

	text-align:center;
	bottom:0;
	position:fixed;
	width: 100%;
}